/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.perfil-btn {
    background-color: #555;
    color: white;
}

/* Conteúdo Principal */
.container {
    flex: 1;
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr; /* Apenas 1 coluna no mobile */
    gap: 20px;
}

.produto {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.produto h3 {
    margin: 0;
    font-size: 16px;
}

.produto p {
    margin: 5px 0;
}

.produto span {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Rodapé */
.footer {
    background-color: #ddd;
    padding: 10px;
    text-align: center;
}

.sacola-btn {
    background-color: #007bff;
    color: white;
    margin: 10px 0;
}
